{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "comma-dangle": [2, "never"],
    "no-cond-assign": 0,
    "prefer-arrow-callback": 0,
    "arrow-body-style": 0,
    "prefer-rest-params": 0,
    "no-plusplus": 0,
    "arrow-parens": 0,
    "no-unused-expressions": 0,
    "react/jsx-no-bind": 0,
    "no-param-reassign": 0,
    "space-before-function-paren": 0,
    "react/no-is-mounted": 0,
    "react/no-deprecated": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-unused-vars": 0,
    "prefer-template": 0
  },
  "env": {
    "mocha": {
      "globals": {
        "describe": true,
        "it": true
      }
    }
  }
}
